 body {
     background: #1f2556;
     color: white;
     font-family: "Poppins" !important;
 }


 .hero {
     min-height: 90vh;
     display: flex;
     align-items: center;
 }

 .btn-main {
     background: #f2c86b;
     border: none;
     padding: 12px 25px;
     border-radius: 30px;
 }

 .custom-fs {
     font-size: 0.75rem;
 }

 .work {
     background: #F4F6FC;
     padding: 80px 0;
     color: black;
 }

 .icon-box {
     width: 60px;
     height: 60px;
     background: linear-gradient(135deg, #4f46e5, #1f2556);
     border-radius: 10px;
 }

 .icon-box::after {
     content: "";
     width: 18px;
     height: 18px;
     background: #facc15;
     position: absolute;
     bottom: -5px;
     left: -5px;
     border-radius: 4px;
 }